***Import the Data***

In [93]:
### Import project data into dataframe
import pandas as pd
df = pd.read_csv('../data/raw/combine_data.csv')
df.head()

,Player,Pos,Ht,Wt,Forty,Vertical,BenchReps,BroadJump,Cone,Shuttle,Year,Pfr_ID,AV,Team,Round,Pick
0,John Abraham,OLB,76,252,4.55,NaN,NaN,NaN,NaN,NaN,2000,AbraJo00,26.0,New York Jets,1.0,13.0
1,Shaun Alexander,RB,72,218,4.58,NaN,NaN,NaN,NaN,NaN,2000,AlexSh00,26.0,Seattle Seahawks,1.0,19.0
2,Darnell Alford,OT,76,334,5.56,25.0,23.0,94.0,8.48,4.98,2000,AlfoDa20,0.0,Kansas City Chiefs,6.0,188.0
3,Kyle Allamon,TE,74,253,4.97,29.0,NaN,104.0,7.29,4.49,2000,NaN,0.0,NaN,NaN,NaN
4,Rashard Anderson,CB,74,206,4.55,34.0,NaN,123.0,7.18,4.15,2000,AndeRa21,6.0,Carolina Panthers,1.0,23.0

In [38]:
df.shape

(6218, 16)

In [51]:
# drop columns I won't use
df = df.drop(columns=['Pfr_ID'])

In [40]:
df.shape

(6218, 15)

In [41]:
df.dtypes

Player        object
Pos           object
Ht             int64
Wt             int64
Forty        float64
Vertical     float64
BenchReps    float64
BroadJump    float64
Cone         float64
Shuttle      float64
Year           int64
AV           float64
Team          object
Round        float64
Pick         float64
dtype: object

In [42]:
# display all the positions
df['Pos'].unique()

array(['OLB', 'RB', 'OT', 'TE', 'CB', 'K', 'P', 'FS', 'OG', 'ILB', 'DE',
       'SS', 'DT', 'QB', 'WR', 'C', 'FB', 'LS', 'NT', 'EDGE', 'S', 'G',
       'LB', 'DB', 'OL'], dtype=object)

In [52]:
# Replace position names
# MLB (middle line backer) and ILB (inside line backer) are the same thing
# LB (line backer) with ILB
# EDGE is the same as DE (Defense End)
# combine P (punter) and K (kicker) into a single position PK (Punter Kicker)
# G (guard) with OG (offensive guard)
# OL (offensive line) with OG (offensive guard)
# FS(free safety) with S (satefy)
# SS(strong safety) with S (satefy)
# DB (defensive back) with CB (corner back)
# NT (nose tackle with DT (defensive tackle)
df['Pos'] = df['Pos'].replace({'MLB':'ILB','LB':'ILB','EDGE':'DE','P':'PK','K':'PK','G':'OG','OL':'OG','FS':'S','SS':'S','DB':'CB','NT':'DT'})

In [44]:
df['Pos'].unique()

array(['OLB', 'RB', 'OT', 'TE', 'CB', 'PK', 'S', 'OG', 'ILB', 'DE', 'DT',
       'QB', 'WR', 'C', 'FB', 'LS'], dtype=object)

In [45]:
df.shape

(6218, 15)

In [55]:
df.groupby('Pos').count()

,Player,Ht,Wt,Forty,Vertical,BenchReps,BroadJump,Cone,Shuttle,Year,AV,Team,Round,Pick
Pos,,,,,,,,,,,,,,
C,171,171,171,166,131,143,132,130,131,171,171,96,96,96
CB,632,632,632,624,519,491,520,393,408,632,632,424,424,424
DE,510,510,510,498,396,393,393,343,348,510,510,325,325,325
DT,466,466,466,456,354,361,345,312,317,466,466,316,316,316
FB,117,117,117,116,99,97,99,88,88,117,117,66,66,66
ILB,279,279,279,267,215,218,215,167,174,279,279,171,171,171
OG,381,381,381,378,305,315,298,281,289,381,381,203,203,203
OLB,424,424,424,422,339,333,349,289,295,424,424,303,303,303
OT,460,460,460,449,367,361,356,333,339,460,460,294,294,294
PK,205,205,205,156,7,13,7,1,1,205,205,55,55,55
QB,350,350,350,343,289,19,293,273,277,350,350,194,194,194
RB,540,540,540,531,440,415,434,312,313,540,540,302,302,302
S,469,469,469,452,375,380,375,289,288,469,469,288,288,288
TE,337,337,337,326,262,269,258,226,226,337,337,205,205,205
WR,857,857,857,842,691,393,673,553,566,857,857,491,491,491

In [94]:
# LS (long snappers) are typicaly never drafted as the team
# remove from dataset
#there are 20 Long Snappers
df = df.loc[df['Pos'] != 'LS']

In [95]:
df.shape

(6198, 16)

In [68]:
df['Pick'].max()

300.0

In [62]:
df['Round'].max()

7.0

In [67]:
# set all undrafted players pick 300
df['Pick'] = df.Pick.fillna(300)

In [69]:
# set all undrafted players round 10
df['Round'] = df.Round.fillna(10)

In [70]:
df

,Player,Pos,Ht,Wt,Forty,Vertical,BenchReps,BroadJump,Cone,Shuttle,Year,Pfr_ID,AV,Team,Round,Pick
0,John Abraham,OLB,76,252,4.55,NaN,NaN,NaN,NaN,NaN,2000,AbraJo00,26.0,New York Jets,1.0,13.0
1,Shaun Alexander,RB,72,218,4.58,NaN,NaN,NaN,NaN,NaN,2000,AlexSh00,26.0,Seattle Seahawks,1.0,19.0
2,Darnell Alford,OT,76,334,5.56,25.0,23.0,94.0,8.48,4.98,2000,AlfoDa20,0.0,Kansas City Chiefs,6.0,188.0
3,Kyle Allamon,TE,74,253,4.97,29.0,NaN,104.0,7.29,4.49,2000,NaN,0.0,NaN,10.0,300.0
4,Rashard Anderson,CB,74,206,4.55,34.0,NaN,123.0,7.18,4.15,2000,AndeRa21,6.0,Carolina Panthers,1.0,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6213,Chris Worley,ILB,74,238,4.86,29.5,15.0,NaN,NaN,NaN,2018,WorlCh00,0.0,NaN,10.0,300.0
6214,Isaiah Wynn,G,75,313,NaN,NaN,NaN,NaN,NaN,NaN,2018,WynnIs00,0.0,NaN,10.0,300.0
6215,Isaac Yiadom,CB,73,190,4.52,NaN,8.0,120.0,NaN,4.18,2018,YiadIs00,0.0,NaN,10.0,300.0
6216,Kenny Young,ILB,73,236,4.60,36.0,23.0,117.0,7.38,4.48,2018,NaN,0.0,NaN,10.0,300.0
6217,Trevon Young,EDGE,76,258,4.78,33.0,25.0,114.0,6.99,4.40,2018,YounTr00,0.0,NaN,10.0,300.0

In [96]:
# remove 2018 data from dataset
# there is no draft information
df = df.loc[df['Year'] != 2018]

In [97]:
df.shape

(5863, 16)

In [152]:
def load_and_process(url_or_path_to_csv_file):
    # Method Chain 1
    # Load Data
    # remove Player ID column
    # remove LS (long snappers) are typicaly never drafted as the team
    # there are 20 Long Snappers
    # remove 2018 data from dataset
    # there is no draft information
    # set all undrafted players pick 300
    # set all undrafted players round 10
    
    df1 = (
        pd.read_csv(url_or_path_to_csv_file)
        .drop(columns=['Pfr_ID'])
        .query('Pos != "LS"')
        .query('Year != 2018')
        .assign(Pick=lambda x: x.Pick.fillna(300))
        .assign(Round=lambda x: x.Round.fillna(10))
    )
    
    # Method Chain 2
    # Replace position names
    # MLB (middle line backer) and ILB (inside line backer) are the same thing
    # LB (line backer) with ILB
    # EDGE is the same as DE (Defense End)
    # combine P (punter) and K (kicker) into a single position PK (Punter Kicker)
    # G (guard) with OG (offensive guard)
    # OL (offensive line) with OG (offensive guard)
    # FS(free safety) with S (satefy)
    # SS(strong safety) with S (satefy)
    # DB (defensive back) with CB (corner back)
    # NT (nose tackle with DT (defensive tackle)
    
    df1['Pos'] = (df1['Pos']
        .replace({'MLB': 'ILB'})
        .replace('LB', 'ILB')
        .replace('EDGE', 'DE')
        .replace('P', 'PK')
        .replace('K', 'PK')
        .replace('G', 'OG')
        .replace('OL', 'OG')
        .replace('FS', 'S')
        .replace('SS', 'S')
        .replace('DB', 'CB')
        .replace('NT', 'DT')
    )
        
    return df1

In [155]:
jason = load_and_process('../data/raw/combine_data.csv')

In [156]:
jason['Pos'].unique()

array(['OLB', 'RB', 'OT', 'TE', 'CB', 'PK', 'S', 'OG', 'ILB', 'DE', 'DT',
       'QB', 'WR', 'C', 'FB'], dtype=object)