In [26]:
from scripts.project_functions import *

In [27]:
data = load_and_process('../data/raw/combine_data.csv')
data

,Player,Pos,Ht,Wt,Forty,Vertical,BenchReps,BroadJump,Cone,Shuttle,Year,AV,Team,Round,Pick
0,John Abraham,OLB,76,252,4.55,NaN,NaN,NaN,NaN,NaN,2000,26.0,New York Jets,1.0,13.0
1,Shaun Alexander,RB,72,218,4.58,NaN,NaN,NaN,NaN,NaN,2000,26.0,Seattle Seahawks,1.0,19.0
2,Darnell Alford,OT,76,334,5.56,25.0,23.0,94.0,8.48,4.98,2000,0.0,Kansas City Chiefs,6.0,188.0
3,Kyle Allamon,TE,74,253,4.97,29.0,NaN,104.0,7.29,4.49,2000,0.0,NaN,10.0,300.0
4,Rashard Anderson,CB,74,206,4.55,34.0,NaN,123.0,7.18,4.15,2000,6.0,Carolina Panthers,1.0,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5877,Jesus Wilson,WR,69,189,4.57,NaN,10.0,119.0,NaN,4.57,2017,0.0,NaN,10.0,300.0
5878,Howard Wilson,CB,73,184,4.57,33.5,NaN,119.0,6.68,3.94,2017,0.0,Cleveland Browns,4.0,126.0
5879,Ahkello Witherspoon,CB,75,198,4.45,40.5,NaN,127.0,6.93,4.13,2017,3.0,San Francisco 49ers,3.0,66.0
5880,Xavier Woods,S,71,197,4.54,33.5,19.0,122.0,6.72,4.13,2017,3.0,Dallas Cowboys,6.0,191.0
5881,Chris Wormley,DT,77,298,NaN,NaN,23.0,NaN,NaN,NaN,2017,1.0,Baltimore Ravens,3.0,74.0

In [17]:
data.to_csv('../data/processed/data.csv')